<div class="section-spacing pb-0">
 <div class="container insta-feed-heading">
        <div class="d-block d-md-flex ">
            <div class="col-md-9  p-md-0 d-flex d-md-block">
                <h4 class="heading-2">Instagram</h4>
              <a href="https://www.instagram.com/joliecojewelry/" target="_blank"><p class="insta-feed-username">@JolieCoJewelry</p></a>
            </div>
            <div class="col-md-3 text-right follow-now pr-0">
               <a class="insta-feed-link" href="https://www.instagram.com/joliecojewelry/" target="_blank" >
                 <img src="https://cdn.shopify.com/s/files/1/0623/8991/1731/files/Btn_Rounded_Primary.png" width="80" height="80" style="padding-right:24px"/>
               Follow now</a>
            </div>
        </div>
 </div>
</div>

{% schema %}
  {
    "name": "Instagram Feed Heading",
    "settings": [
	],
	"presets": [
    {
      "name": "Instagram Feed Heading"
    }
  ]
  }
{% endschema %}
