{% section 'page-title' %}
{% section 'breadcrumbs' %}


<div class="container tea-page"> 
  <div class="row">  	
    <div class="col-lg-4 tea-cat">
      
     {% section 'blog-sidebar'  %}
    
    </div>
    <div class="col-lg-8 blog-detail-right">
 
     {% section 'blog-content' %}
      
    </div> 
  </div>
</div>  



