<div class="container">
  <div class="row"> 	

    <div class="col-lg-3"> 
    </div>
    <div class="col-lg-6 mt-5 mb-5">  

      {{ page.content }}
    
      {% section 'privacy-webform' %}
      
    </div>

    <div class="col-lg-3"> 
    </div>
    
  </div>
</div>
